html {
}

/* MONITOR */
#monitor{
  width: 700px;
  height: 200px;
}

/* RAW CSS */
#raw{
  width: 300px;
  height: 200px;
  position: absolute;
}
#placeholder{
  padding: 0px;
  position: relative;
  border: 2px;
  border-color: black;
  border-style: solid;
}
#heartrate_container {
  background: #fdd;
  opacity: .9;
  font-size: 24pt;
  font-weight: 100;
  font-family: helvetica neue, arial, verdana, sans-serif;
}
#heartrate_container span.heart {
    display: block;
    margin-right: 5px;
    float: left;
    position: relative;
    top: 8pt;

    color: #f77;
    font-size: 12pt;
}

/*OUTPUT CSS */
#output{
  width: 300px;
  height: 200px;
  margin: 0 0 0 350px;
}
#output_placeholder{
  padding: 0px;
  position: relative;
  border: 2px;
  border-color: black;
  border-style: solid;
}
#output_heartrate_container {
  bottom: 179px;
  background: #fdd;
  opacity: .9;
  font-size: 24pt;
  font-weight: 100;
  font-family: helvetica neue, arial, verdana, sans-serif;
}
#output_heartrate_container span.heart {
    display: block;
    margin-right: 5px;
    float: left;
    position: relative;
    top: 8pt;

    color: #f77;
    font-size: 12pt;
}